.close {
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  color: red;
  transition: all ease-in-out 0.2s;
}

.close:hover {
  background-color: red;
  color: #fff;
  transition: all ease-in-out 0.2s;
}
